.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.calculator {
  padding: 30px;
  background-color: rgba(255, 166, 0, 0.692);
  border-radius: 10px;
}
